WEATHER_API_KEY=your_weathercom_api_key
WEATHER_LAT=50.1
WEATHER_LON=18.1
ICLOUD_USER=your_icloud_email@icloud.com
ICLOUD_PASS=your_app_specific_password
TIMEZONE=Europe/Warsaw
BACKGROUNDS_PATH=./backgrounds
